{% extends 'layouts/layout.html' %} 
{% import 'macros/counter.html' as counter %}
{% import 'macros/probability.html' as probability %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='styles/canvas.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', path='styles/counter.css') }}"/>
<link rel="stylesheet" href="{{ url_for('static', path='styles/probability.css') }}"/>
<script src="{{ url_for('static', path='scripts/canvas.js')}}" defer></script>
<script src="{{ url_for('static', path='scripts/recognition.js')}}" defer></script>
{% endblock %} 

{% block content %}
<div class="simulator-container">
  <div class="draw-counter">
    <div class="draw-wrapper">
      <div class="canvas-wrapper">
        <div id="canvas-resizer">
          <span id="expand">
            <i class="fa-solid fa-expand"></i>
          </span>
          <span id="minimize">
            <i class="fa-solid fa-compress"></i>
          </span>
        </div>
        <canvas id="pixeled-canvas"></canvas>
      </div>
      <div class="draw-buttons">
        <button type="button" id="clear" class="button-secondary">Limpar</button>
        <button type="button" id="prediction" class="button-primary">Reconhecer</button>
      </div>
    </div>

    <div class="counter">
      <div class="counter-button-wrapper">      
        {{ counter.labels() }}
        {{ counter.modelCounter('MLP') }}
        <!-- {{ counter.labels() }} -->
        {{ counter.modelCounter('ConvNet') }}
      </div>
      <button type="button" class="button-secondary">Zerar</button>
    </div>
  </div>

  <div class="probabilities">
    {{ probability.probability('MLP') }}
    {{ probability.probability('ConvNet') }}
  </div>
</div>
{% endblock %}

