.draw-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-top: 48px;
}

.canvas-wrapper {
  position: relative;
}

.draw-buttons {
  display: flex;
  gap: 16px;
}

#pixeled-canvas {
  background-color: #000;
  cursor: crosshair;
  display: block;
  border-radius: 2px;
  border: 1px solid #47cf7388;
  margin-bottom: 4px;
  touch-action: none;
}

#canvas-resizer {
  position: absolute;
  right: 8px;
  top: 8px;
  color: var(--primary-button-bg);
  width: 24px;
  height: 24px;
  display: grid;
  place-items: center;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
}

#canvas-resizer:hover {
  background-color: var(--secondary-button-bg);
  color: var(--title-color);
}

#canvas-resizer #minimize {
  display: none;
}

#canvas-resizer.active #minimize {
  display: inline;
}

#canvas-resizer.active #expand {
  display: none;
}