.draw-wrapper {
  grid-area: canvas;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 80px 0;
}

@media screen and (min-width: 500px) {
  .draw-wrapper {
    padding-bottom: 0;
  }
}

.canvas-wrapper {
  position: relative;
}

.draw-buttons {
  display: flex;
  gap: 16px;
}

#pixeled-canvas {
  background-color: #000;
  cursor: crosshair;
  display: block;
  border-radius: 6px;
  margin-bottom: 4px;
  touch-action: none;
}

#resize {
  position: absolute;
  right: 8px;
  top: 8px;
  color: var(--primary-button-bg);
  background-color: transparent;
  width: 24px;
  height: 24px;
  display: grid;
  place-items: center;
  border-radius: 4px;
  transition: 0.3s;
  font-size: 16px;
}

@media (hover: hover) and (pointer: fine) {
  #resize:hover {
    background-color: var(--secondary-button-bg);
    color: var(--title-color);
  }
}

#resize #minimize {
  display: none;
}

#resize.active #minimize {
  display: block;
}

#resize.active #expand {
  display: none;
}