.simulator-container {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  height: 100vh;
}

.draw-counter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 48px 0;
  /* gap: 48px; */
}

.counter {
  display: flex;
  border-top: 2px solid var(--section-gray);
  width: fit-content;
  padding: 24px 16px 16px 16px;
  position: relative;
  align-items: center;
  gap: 16px;
}

.counter::before {
  content: 'CONTADOR';
  position: absolute;
  background-color: var(--bg-color);
  padding: 0 16px;
  left: 50%;
  font-size: 12px;
  font-family: Oxanium, cursive;
  color: rgba(255, 255, 255, 0.3);
  line-height: 16px;
  top: -8px;
  transform: translateX(-50%);
}

.counter-button-wrapper {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 12px;
}

.counter-model {
  display: flex;
  align-items: center;
  gap: 16px;
}

.counter-name {
  font-family: Oxanium, cursive;
  color: rgba(255,255,255,0.9);
  font-size: 16px;
  font-weight: 600;
}

.counter-wrapper {
  display: flex;
  border-radius: 3px;
  overflow: hidden;
}

.counter-labels {
  display: flex;
}

.counter-label {
  text-align: center;
  font-weight: 500;
  width: 43px;
  color: rgba(255, 255, 255, 0.3);
  font-size: 13px;
  font-family: Oxanium, cursive;
}

.increment-wrapper {
  width: 43px;
  height: 41px;
}

.increment-wrapper:not(:first-child) {
  border-left: 1px solid var(--section-gray);
}

.numbers-slider {
  display: flex;
  flex-direction: column;
  background-color: var(--simulator-black);
  cursor: pointer;
}

.numbers-slider > div {
  font-weight: 500;
  font-family: Oxanium, cursive;
  font-size: 18px;
  color: rgba(255,255,255,0.3);
  height: 41px;
  display: flex;
  align-items: center;
  justify-content: center;
}