:root {
  --high-white: #ffffffe6;
  --low-white: #ffffff4d;
  --paragraph-color: #c7c9d3;
  --paragraph-color-gray: #ffffffaa;

  --primary-button-bg: #47CF73;
  --primary-button-shadow: #106029;
  --secondary-button-bg: #444857;
  --secondary-button-shadow: #30323C;

  --simulator-black: #0D0D10;
  --card-gray: #2c303a;
  --section-gray: #1e1f26;
  --dark-gray: #1d1e22;
  --bg-color: #131417;
  --skeleton-secondary: #38383F;
  --black: #000;

  --yellow-chip: #ffdd40;
  --link-blue: #76daff;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--paragraph-color);
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: none;
  cursor: pointer;
  color: inherit;
}

.button-3d {
  padding: 11px 22px;
  font-size: 16px;  
  border-radius: 3px;
  font-family: 'Oxanium', sans-serif;
  font-weight: 500;
}

@media screen and (min-width: 500px) {
  .button-3d {
    font-size: 18px;
  }
}

.button-3d.primary {
  background-color: var(--primary-button-bg);
  box-shadow: 0 4px 0 0 var(--primary-button-shadow);
  color: var(--bg-color);
}

.button-3d.secondary {
  background-color: var(--secondary-button-bg);
  box-shadow: 0 4px 0 0 var(--secondary-button-shadow);
  color: var(--white);
}

.button-3d:active:enabled {
  box-shadow: none;
  transform: translateY(2px);
}

.button-3d.primary:disabled {
  cursor: progress;
}