:root {
  --title-color: #ffffffdd;
  --paragraph-color: #c7c9d3;
  --paragraph-color-gray: #ffffffaa;

  --primary-button-bg: #47CF73;
  --primary-button-shadow: #106029;
  --secondary-button-bg: #444857;
  --secondary-button-shadow: #30323C;

  --simulator-black: #0D0D10;
  --card-gray: #2c303a;
  --section-gray: #1e1f26;
  --dark-gray: #1d1e22;
  --bg-color: #131417;
  --skeleton-secondary: #38383F;
  --black: #000;

  --yellow-chip: #ffdd40;
  --link-blue: #76daff;
}

body {
  min-height: 100vh;
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  padding: 11px 22px;
  cursor: pointer;
  font-size: 18px;  
  font-weight: 400;
  border-radius: 3px;
  font-family: 'Oxanium', sans-serif;
  border: none;
}

.button-secondary {
  background-color: var(--secondary-button-bg);
  box-shadow: 0 4px 0 0 var(--secondary-button-shadow);
  color: white;
}

.button-primary {
  font-weight: 500;
  background-color: var(--primary-button-bg);
  box-shadow: 0 4px 0 0 var(--primary-button-shadow);
}

:where(.button-secondary, .button-primary):active {
  box-shadow: none;
  transform: translateY(2px);
}