@property --angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

.probabilities {
  grid-area: probability;
  display: flex;
  justify-content: space-evenly;
  padding-top: 36px;
  position: relative;
  width: 100%;
}

.probabilities::before {
  content: 'PROBABILIDADES';
  position: absolute;
  background-color: var(--bg-color);
  padding: 0 16px;
  left: 50%;
  font-size: 11px;
  font-family: Oxanium, cursive;
  color: var(--low-white);
  line-height: 16px;
  top: -8px;
  transform: translateX(-50%);
  font-weight: 500;
  letter-spacing: 2px;
}

@media screen and (min-width: 500px) {
  .probabilities {
    border: none;
    padding: 0 16px 0 0;
    justify-content: space-between;
  }

  .probabilities::before {
    display: none;
  }
}

.probability-name {
  font-family: Oxanium, cursive;
  color: var(--white);
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  margin-bottom: 16px;
}

@media screen and (min-width: 500px) {
  .probability-name {
    font-size: 22px;
  }
}

.probabilities-wrapper {
  background-color: var( --simulator-black);
  border-radius: 3px;
  overflow: hidden;
}

.probability-wrapper {
  padding: 6px 16px;
  display: flex;
  gap: 24px;
  align-items: center;
  position: relative;
  overflow: hidden;
  color: var(--low-white);
  font-family: Oxanium, cursive;
}

@media screen and (min-width: 500px) {
  .probability-wrapper {
    gap: 40px;
  }
}

.probability-wrapper:not(:first-child) {
  border-top: 1px solid var(--section-gray);
}

.probability-result {
  font-size: 14px;
  font-weight: 500;
  width: 70px;
  text-align: center;
  color: inherit;
}

@media screen and (min-width: 500px) {
  .probability-result {
    font-size: 17px;
    width: 86px;
  }
}

@keyframes angle-frames {
  to {
    --angle: 180deg;
  }
}

.probability-wrapper.highlight {
  z-index: 2;
  border-radius: 4px;
}

.probability-wrapper.highlight::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: conic-gradient(var(--primary-button-bg) 0deg var(--angle), transparent var(--angle) 180deg, var(--primary-button-bg) 180deg calc(180deg + var(--angle)), transparent calc(180deg + var(--angle)) 360deg);
  width: calc(100% + 100px);
  height: calc(100% + 100px);
  z-index: -2;
  animation: angle-frames 2s cubic-bezier(.43, .45, 0, .99) forwards;
}

.probability-wrapper.highlight::before {
  content: '';
  position: absolute;
  inset: 2px;
  background-color: var(--simulator-black);
  border-radius: 3px;
  z-index: -1;
}

.probability-digit {
  font-size: 28px;
  font-weight: 500;
  color: inherit;
}

@media screen and (min-width: 500px) {
  .probability-digit {
    font-size: 36px;
  }
}

.probability-result:empty {
  height: 21px;
  background-size: 500px;
  background-image: linear-gradient(80deg, var(--simulator-black) 65%, var(--skeleton-secondary) 70% 70%, var(--simulator-black) 75%);
  background-repeat: no-repeat;
  background-position-x: -414px;
  animation: skeleton 2s infinite;
}

.probability-wrapper:has(> .probability-result:empty) {
  color: var(--low-white) !important;
}

@keyframes skeleton {
  to {
    background-position-x: 0px;
  }
}



